/*
 * 首页css样式表
 */
*{
	margin: 0;
	padding: 0;
}

img{
	border: 0px;
}
a{
	text-decoration: none;
	font-family: 微软雅黑;
	text-align: center;
}
/*top通用*/
#top{
	width: 1130px;
 	height: 98px;
    margin: 0 auto;
}
#top_logo{
    width: 200px;
    height: 98px;
    background: url(../images/mistore_logo.png) no-repeat;
}
#top_logo a{
	display: block;
	height: 98px;
	text-indent: -9999em;
}
/*顶部导航条*/
.site-topbar {
	width: 100%;
	height: 80px;
	background: rgb(51, 51, 51);
}

.topbar-container {
	width: 1226px;
	height: 80px;
	margin: 0 auto;
}

.top-nav {
	width: 610px;
	height: 80px;
	float: left;
}

.site-topbar a {
	color: #9C9C9C;
	float: left;
	line-height: 80px;
	font-size: 16px;
}

.site-topbar a:hover {
	color: #fff;
}

.site-topbar span {
	margin: 0 5px;
	color: rgb(65, 65, 65);
	text-align: center;
	line-height: 80px;
	float: left;
}

.topbar-cart {
	float: right;
	width: 110px;
	background: #424242;
	text-align:center;
	padding-left: 20px;
	margin-left: 20px;
	position: relative;
}

.topbar-cart a {
	display: block;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

.topbar-cart:hover {
	background: #fff;
}

.loading {
	position: absolute;
	top: 80px;
	right: 0;
	width: 316px;
	height: 100px;
	z-index: 2;
	text-align: center;
	line-height: 80px;
	color: #424242;
	font-size: 14px;
	display: none;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.topbar-cart:hover div {
	display: block;
}

.topbar-cart a:hover {
	color: orangered;
}

.topbar-info {
	height: 80px;
	float: right;
}
